@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    font-size: 16px;
    --slate-200: #e2e8f0;
    --slate-700: #334155;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    display: grid;
    grid-template-rows: 60px 1fr;
}

#header {
    background-color: var(--slate-700);
}

#main {
    background-color: var(--slate-200);
}