@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&display=swap');

:root {
    font-size: 16px;
    --slate-100: #f1f5f9;
    --slate-200: #e2e8f0;
    --slate-300: #cbd5e1;
    --slate-400: #94a3b8;
    --slate-500: #64748b;
    --slate-700: #334155;
    --blue-400: #60a5fa;
    --header-logo-size: 40px;
    --search-border-radius: 4px;
    --search-btn-size: 30px;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    display: grid;
    grid-template-rows: 60px 1fr;
}

#header {
    background-color: var(--slate-700);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 10px;
}

.logo {
    background-image: url('./img/weather-logo.svg');
    background-size: contain;
    height: var(--header-logo-size);
    width: var(--header-logo-size);
}

.search {
    justify-self: center;
    display: flex;
    align-items: center;
    gap: 6px;
}

input[type="search"] {
    -webkit-appearance: none;
    appearance: none;
}

#search-bar {
    font-family: inherit;
    font-size: 18px;
    font-weight: 300;
    color: var(--slate-700);
    background-color: var(--slate-200);
    border: none;
    border-radius: var(--search-border-radius);
    height: 30px;
    width: 300px;
    padding: 4px;
}

#search-bar::placeholder {
    color: var(--slate-400);
}

#search-bar:focus {
    outline: none;
    background-color: var(--slate-100);
}

.search-btn {
    background-color: var(--blue-400);
    background-image: url('./img/magnify.svg');
    background-size: contain;
    height: var(--search-btn-size);
    width: var(--search-btn-size);
    border-radius: var(--search-border-radius);
}

.units {
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--slate-200);
    height: 30px;
    padding: 0 4px;
    border-radius: 4px;
}

.units > div {
    color: var(--slate-500);
    font-size: 18px;
    padding: 0 4px;
    border-radius: 3px;
}

.units > .selected {
    background-color: var(--blue-400);
    color: var(--slate-100)
}

#main {
    background-color: var(--slate-300);
    padding: 50px 400px;
}

.weather-card {
    background-color: var(--slate-200);
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    column-gap: 50px;
    align-items: center;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px var(--slate-400);
}

.main-temp {
    grid-area: 1 / 2 / 3 / 3;
    justify-self: end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.location {
    font-size: 3rem;
}

.temp {
    font-size: 4rem;
}

.feels-like {
    font-size: 1.5rem;
}

.desc {
    font-size: 2rem;
}

.high, .low, .wind, .humidity {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
}